src/main/resources/xsd/countries.xsd

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"
           xmlns:tns = "http://tutorialspoint/schemas"
           targetNamespace = "http://tutorialspoint/schemas"
           elementFormDefault = "qualified">

    <xs:element name="getCountryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="country">
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="population"/>
            </xs:sequence>
    </xs:complexType>
</xs:schema>